# 4. 데이터 표현과 특성공학

## 4.1 범주형 변수
* 범주형 데이터 : 이산형 특성, 숫자값이 아님.
범주형 변수를 -> 수치형 변수로 나태내는 방법
* 특성공학 : 특정 애플리케이션에 가장 적합한 데이터 표현을 찾는 것
데이터 과학자와 머신러닝 기술자가 실제 문젤르 풀기 위해 당면하는 주요 작업중 하나로 올바른 데이터 표현은 지도학습 모델에서 적절한 매개변수를 선택하는것보다 성능에 더 큰 영향을 미친다.

* 데이터 문자만 변환 dummies, 문자 숫자 변환 OneHotEncoder

### 4.1.1 원핫인코딩(가변수)
번주형 변수를 0또는 1값을 가진 하나 이상의 새로운 특성으로 만듦

* adult 데이터셋을 이용해 어떤 근로자의 수입이 50,000달러가 넘는지 안넘는지 예측
* 근로자의 나이 고용형태 교육수준 성별 주당 근로시간 직업등의 특성이 있다.

In [3]:
import os
import pandas as pd
#이 파일은 열 이름을 나타내는 헤더가 없으므로 header=None으로 지정하고
#names 매개변수로 열 이름을 제공합니다.
data = pd.read_csv('../data/adult.data', header=None, index_col=False,
                  names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])
#예제를 위해 몇개의 열만 선택합니다.
data = data[['age','workclass', 'education', 'gender', 'hours-per-week',
            'occupation', 'income']]
#Ipython.display함수는 주피터 노트북을 위해 포맷팅된 출력을 만듭니다.
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

#### 문자열로 된 범주형 데이터 확인하기

In [4]:
print(data.gender.value_counts())

 Male      21790
 Female    10771
Name: gender, dtype: int64

#### dummies 통해 엔코딩(문자를 숫자로 바꿔줌)벡터화

In [5]:
print("원본특성 :\n", list(data.columns), "\n")
#pd.get_dummies()는 객체 타입이나 범주형을 가진 열의 자동으로 변환
data_dummies = pd.get_dummies(data)
print("data_dummies 후의 특성:\n", list(data_dummies.columns), "\n")

원본특성 :
 ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']

data_dummies 후의 특성:
 ['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'gender_ Female', 'gender_ Male', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'income_ <=50K', 'income_ >50K']

* 실수형 자료인 age, hours-per-week는 그대로 나오고, 나머지만 특성넣어 숫자로 다 변환
* 숫자로 변환해야 머신러닝 모델로 넣을수 있기 때문이다.

In [6]:
data_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   gender          32561 non-null  object
 4   hours-per-week  32561 non-null  int64
 5   occupation      32561 non-null  object
 6   income          32561 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.7+ MB

In [11]:
#모델을 학습시키기전에 데이터로부터 타깃값(income)를 분리해야 한다.
features = data_dummies.loc[:, 'age':'occupation_ Transport-moving']
#NumPy배열추출
X = features.values
y = data_dummies['income_ <=50K'].values
print("X.shape : {} y.shape :{}".format(X.shape, y.shape))

X.shape : (32561, 44) y.shape :(32561,)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print("테스트점수 : {:.2f}".format(logreg.score(X_train, y_train)))

테스트점수 : 0.81

### 4.1.2 숫자로 표현된 범주형 특징

숫자특성도 원하면 바꿀수 있다.

In [21]:
# 숫자 특성과 범주형 문자열 특성을 가진 DataFrame을 만듭니다.
import pandas as pd
demo_df = pd.DataFrame({'숫자 특성':[0,1,2,1],
                       '범주형 특성':['양말', '여우', '양말', '상자']})
display(demo_df)

   숫자 특성 범주형 특성
0      0     양말
1      1     여우
2      2     양말
3      1     상자

In [22]:
# get_dummies를 사용하면 문자열 특성만 인코딩 되며 숫자 특성은 바뀌지 않는다.
display(pd.get_dummies(demo_df))

   숫자 특성  범주형 특성_상자  범주형 특성_양말  범주형 특성_여우
0      0          0          1          0
1      1          0          0          1
2      2          0          1          0
3      1          1          0          0

In [23]:
# 숫자 특성도 가변수로 만들고 싶다면 커럼 매개변수에 인코딩하고 싶은 열을 명시해야 한다.
demo_df['숫자 특성'] = demo_df['숫자 특성']. astype(str)
display(pd.get_dummies(demo_df, columns=['숫자 특성', '범주형 특성']))

   숫자 특성_0  숫자 특성_1  숫자 특성_2  범주형 특성_상자  범주형 특성_양말  범주형 특성_여우
0        1        0        0          0          1          0
1        0        1        0          0          0          1
2        0        0        1          0          1          0
3        0        1        0          1          0          0

## 4-2 OneHotEncoder와 ColumsTransformer : Sklearn으로 범주형 변수 다루기

In [24]:
#OneHotEncoder는 모든 열에 인코딩을 수행한다(문자열, 정수 다 변환)
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse = False)
print(ohe.fit_transform(demo_df))

[[1. 0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0. 1.]
 [0. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 0.]]

In [25]:
#변환된 특성에 해당되는 원본 범주형 변수 이름 가져오기
print(ohe.get_feature_names())

['x0_0' 'x0_1' 'x0_2' 'x1_상자' 'x1_양말' 'x1_여우']

* ColumnTransformer 스케일 조정(실수형에)

In [1]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [31]:
#ColumnTransformer를 이용하여 연속형 변수인 age와 hours-per-week의 스케일 조정
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

ct = ColumnTransformer([('scaling', StandardScaler(), ['age', 'hours-per-week']),
                       ('onehot', OneHotEncoder(sparse = False),
                       (['workclass', 'education', 'gender', 'occupation']))])

In [32]:
ct

ColumnTransformer(transformers=[('scaling', StandardScaler(),
                                 ['age', 'hours-per-week']),
                                ('onehot', OneHotEncoder(sparse=False),
                                 ['workclass', 'education', 'gender',
                                  'occupation'])])

In [35]:
#선형 모델 만들기
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#income을 제외한 모든 열 추출 (y 값)
data_features = data.drop("income", axis = 1)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(
data_features, data.income, random_state=0)

In [39]:
ct.fit(X_train)
X_train_trans = ct.transform(X_train)
print(X_train_trans.shape)
#44개의 특성이 생성됨 + 연속형 특성 스케일이 조정됨

(24420, 44)

In [40]:
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

X_test_trans = ct.transform(X_test)
logreg.score(X_test_trans, y_test)

0.8092371944478566

* 실수데이터에 스케일 조정해도 별로 효과가 없다 81프로 비슷하다